In [ ]:
# TODO: the following 5 functions for CRUD(create, read,update,delete) operations that work with sqlite database called chinook.db
# def create_connection(dbpath):
#   # can add verbose parameter that prints sqlite version used
#   return conn
# def create_artist(conn, artist_name):
   # use parametrized query !
#   # do not have to return anything but can use try: inside this function
# def read_artists(conn):  # can add some extra parameters to limit
#   return artists  # can return a list of tuples, or you can create a list of artist objects if you want
# def update_artist(id, new_name):
# def delete_artist(id=None, name=""):
#    # provide deletion by id AND/OR name
# test it by adding you name to artists table smile

In [4]:
import sqlite3

In [5]:
def create_connection(dbpath):
    con = sqlite3.connect(dbpath)
    return con

In [6]:
# cur = create_connection(input('Enter db path:')).cursor()
# print(cur)

In [9]:
def create_artist(con, artist_name):
    cur = con.cursor()
    cur.execute("insert into artists(name) values (?)", (artist_name,))
    con.commit()

In [10]:
create_artist(create_connection('C:/Users/User/Downloads/chinook.db'), 'Jon Bon Jovi')

In [11]:
import pandas as pd

In [22]:
def read_artists(con):
    artist_list20 = pd.read_sql_query("select name from artists limit 20 offset 200", con)
    return artist_list20['Name'] #unsure at this stage

In [23]:
print(read_artists(create_connection('C:/Users/User/Downloads/chinook.db')))

0                          Luciana Souza/Romero Lubambo
1                                        Aaron Goldberg
2                           Nicolaus Esterhazy Sinfonia
3                                     Temple of the Dog
4                                         Chris Cornell
5                Alberto Turco & Nova Schola Gregoriana
6     Richard Marlow & The Choir of Trinity College,...
7                      English Concert & Trevor Pinnock
8     Anne-Sophie Mutter, Herbert Von Karajan & Wien...
9     Hilary Hahn, Jeffrey Kahane, Los Angeles Chamb...
10                                       Wilhelm Kempff
11                                             Yo-Yo Ma
12                            Scholars Baroque Ensemble
13    Academy of St. Martin in the Fields & Sir Nevi...
14    Academy of St. Martin in the Fields Chamber En...
15    Berliner Philharmoniker, Claudio Abbado & Sabi...
16    Royal Philharmonic Orchestra & Sir Thomas Beecham
17    Orchestre RÃ©volutionnaire et Romantique & John...
18       Britten Sinfonia, Ivor Bolton & Lesley Garrett
19    Chicago Symphony Chorus, Chicago Symphony Orch...
Name: Name, dtype: object

In [ ]:
#def update_artist(id, new_name):

In [ ]:
def delete_artist(id=None, name=""):
    if id != None:
        nr=id
        deleted = pd.read_sql_query("delete name from artists where id = (?)", nr )
    else:
        nam=name
        deleted = pd.read_sql_query("delete name from artists where name = (?)", nam )