In [ ]:
# TODO 
# Task 1
# provide a query that shows total sales by each sales agent
# will require to join with the customer table
# will require to join with the invoice table

# Task 2
# QUERY TO find the top selling track of 2012
# will require use track table
# will requiret to join with invoice items table
# will require to join with the invoice table

In [2]:
import sqlite3
import pandas as pd

In [3]:
class DBgroupby:
    def __init__(self, dbpath):
        self.dbpath = dbpath
        self.conn = sqlite3.connect(dbpath)
        self.cur = self.conn.cursor()

    def __del__(self):
        self.conn.close()

    def agent_sales(self):
        query = """
        SELECT
            e.EmployeeId, e.FirstName, SUM(Total) Total_sales
        FROM invoices i 
        JOIN customers c 
            ON i.CustomerId = c.CustomerId 
        JOIN employees e
            ON c.SupportRepId = e.EmployeeId
        GROUP BY e.EmployeeId;
        """
        return pd.read_sql_query(query, self.conn)

    def toptrack2012(self):
        query = """
        SELECT
            t.trackid,
            t.Name AS TrackTitle,
            (SUM(ii.UnitPrice * ii.Quantity)) AS TrckSales2012  
        FROM tracks t
        JOIN invoice_items ii
            ON t.TrackId = ii.TrackId
        JOIN invoices i 
            ON ii.InvoiceId = i.InvoiceId 
        GROUP BY t.TrackId 
            HAVING SUBSTR(i.InvoiceDate, 1, 4) = '2012'
        ORDER BY Trcksales2012 DESC LIMIT 1;
        """
        return pd.read_sql_query(query, self.conn)

In [5]:
query1 = DBgroupby("C:/Users/User/Downloads/chinook.db").agent_sales()
query1

   EmployeeId FirstName  Total_sales
0           3      Jane       833.04
1           4  Margaret       775.40
2           5     Steve       720.16

In [7]:
query2 = DBgroupby("C:/Users/User/Downloads/chinook.db").toptrack2012()
query2

   TrackId TrackTitle  TrckSales2012
0     3177   Hot Girl           3.98